<% content_for :head do %>
  <script type="text/javascript">       
          bindPresentationActions("<%= url_for(:action => 'canvasApi') %>", 
          [], 
          "<%= url_for(:action => 'starfieldIntro') %>");
  </script>
<% end %>

<% content_for :title do %>
  Graphics Application Introduction
<% end %>
  
<div class="sectionHeader">
  Overview
</div>

<div class="sectionHeader">
  Update
</div>
  
<div class="sectionHeader">
  Draw
</div>
  
<div class="sectionHeader">
  Necessary Speed
</div>    
