body{
    padding: 0px;
    margin: 0px;
    height: 100%; 
    color: #33332D;
    background-color: #FFF8E3;
}

h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
}

h4{
    padding-left: 20px;
}

#main-content{
    margin: 5px;
    padding: 5px;
    padding-left: 100px;
}

#content{
    margin-left: 15px;
    padding: 5px;
    font-size: 30px;
}

#main-content h2{
    font-size: 40px;
}

#banner{
    height: 60px;
    width: 100%;
    background-color: #FB4105;
    margin: 0px;
    padding: 0px;
    color: #FFF;
}

#banner #banner-title{
    padding: 0px;
    font-size: 45px;
    width: 100%;
    font-weight: bold;
}

.hidden{
    display: none;
}

.bold{
    font-weight: bolder;
}