<% content_for :head do %>
  <script type="text/javascript">       
          bindPresentationActions("<%= url_for(:action => 'canvasIntro') %>", 
          [], 
          "<%= url_for(:action => 'canvasApi1') %>");
  </script>
<% end %>

<% content_for :title do %>  
  HTML5 Canvas API
<% end %>
  
<ul>
  <li>
    To get access to the canvas API in the javascript DOM, you must call as follows:
    <div class="codeWrapper">    
      <code class="prettyprint">
        <br />
        var canvas = document.getElementById('canvas-id');
        <br />
        var context = canvas.getContext('2d');
        <br />
        <br />
        &lt;canvas id='canvas-id' width='300' height='300'/&gt;
      </code>
    </div>
  </li>
  <li>
      The canvas has two attributes, width and height.  They are usually set in html to begin with, but the canvas can be resized in javascript at any time.
  </li>
</ul>


