<% content_for :head do %>
  <title>Ryan</title>  
<% end %>

<%= javascript_include_tag "frontPage/frontPage" %>

<script type="text/javascript">
  	$(document).ready(function(){
  		var $canvas = $("#front-page-canvas");
		frontPage($canvas);
	});
	
	$(document).keypress(function(event){
  		if(event.which == 32 || event.which == 39){
  			window.location = "MainPage1.html";
  		}
  	});
</script>

<canvas id="front-page-canvas" height="300" width="300" />