<% content_for :head do %>
  <title>Ryan</title>  
<% end %>

<%= javascript_include_tag "frontPage/frontPage" %>

<script type="text/javascript">
  	$(document).ready(function(){
  		var $canvas = $("#front-page-canvas");
		frontPage($canvas);
	});
</script>

<canvas id="front-page-canvas" height="300" width="300" />