<% content_for :head do %>
  <title>Presentation Title</title>  
<% end %>



<h2>Optimization of canvas Javascript application</h2>


<a href="./SimpleStarfieldAlpha.html">Simple Starfield</a>
<a href="./SimpleStarfieldNoAlpha.html">Simple Starfield - Fixed</a>