<% content_for :head do %>
  <title>Ryan</title>  
<% end %>


<script type="text/javascript">
  	$(document).ready(function(){
  		var $canvas = $("#display-canvas");
		frontPage($canvas);
	});
</script>

<canvas id="display-canvas" height="300" width="300" />