<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <%= stylesheet_link_tag "site.css" %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<%= yield_content :head %>
	
  </head>
  
  <body class="<%= page_classes %>">

	<span id="nav">
		<ul>
			<li>HTML5 Canvas Introduction
				<ul>
					<li>Why HTML5 and Javascript?</li>
					<li>Browser Support</li>
					<li>Drawing Techniques</li>
				</ul>
			</li>
			<li>Good-Performance Graphics
				<ul>
					<li>Basic Graphic Applications</li>
					<li>Benchmarking</li>
					<li>Profiling Tools</li>
				</ul>
			</li>
			<li>Simple Example
				<ul>
					<li>Example #1</li>
					<li>Example #2</li>
					<li>Example #3</li>
				</ul>
			</li>
			<li>More Optimizations
				<ul>
					<li></li>
				</ul>
				
			</li>
			
			<li>Networking Optimizations</li>
				<ul>
					<li>Chatroom</li>
				</ul>
			
		</ul>
	</span>
	<span id="content">
      <%= yield %>
    </span>
    
  </body>
</html>